# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cant get this to go away
tests/bin/*

# Want these folders
!*.keep

# Stupid Apple
*.DS_Store

# What was here previously was cringe
*.sublime-project
*.sublime-workspace

# i would never use vscode
.vscode/
vgcore.13263
vgcore.9718

#CMAckle
builds/*
inc/BML/json.hpp
inc/BML/bWindow.h
inc/BML/bTexture.h
inc/BML/bSound.h
inc/BML/bSheet.h
inc/BML/bRect.h
inc/BML/BML.h
inc/BML/bEvent.h
