# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cant get this to go away
tests/bin/*

# Want these folders
!*.keep

# Stupid Apple
*.DS_Store

# Ok I promise I mostly use vim, but sometimes I have another window
# Open with Sublime Text just so I can have another tab open to reference.
# Dr. Plank if you ever see this I'm sorry I have failed you.
*.sublime-project
*.sublime-workspace
